:root {
  --sw-surface-100: oklch(100% 0 0);
  --sw-surface-200: oklch(97% 0.011 259);
  --sw-surface-300: oklch(93% 0.016 262);
  --sw-surface-400: oklch(85% 0.021 264);
  --sw-surface-500: oklch(82% 0.029 266);

  --sw-content-100: oklch(85% 0.053 255);
  --sw-content-200: oklch(62% 0.053 255);
  --sw-content-300: oklch(42% 0.053 255);
  --sw-content-400: oklch(38% 0.053 255);
  --sw-content-500: oklch(28% 0.053 255);

  --sw-border-100: oklch(82% 0.031 222);
  --sw-border-200: oklch(64% 0.029 266);
  --sw-border-300: oklch(42% 0.027 268);

  --sw-primary-100: oklch(80% 0.31 252);
  --sw-primary-200: oklch(63% 0.2 252);
  --sw-primary-content: oklch(23% 0.016 262);

  --sw-accent-100: oklch(70% 0.25 9);

  --sw-neutral-100: oklch(82% 0 289);
  --sw-neutral-200: oklch(72% 0 289);
  --sw-neutral-300: oklch(60% 0 289);
  --sw-neutral-content: oklch(42% 0 255);

  --sw-radius-s: 0.25rem;
  --sw-radius-m: 0.5rem;
  --sw-radius-l: 1rem;
  --sw-radius-xl: 1.5rem;

  --sw-shadow-s: 0 0 0.5rem oklch(0 0 0 / 0.1);
  --sw-shadow-m: 0 0 1rem oklch(0 0 0 / 0.2);
  --sw-shadow-l: 0 0 1.5rem oklch(0 0 0 / 0.3);
  --sw-shadow-xl: 0 0 2rem oklch(0 0 0 / 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* TODO */
    --sw-surface-100: oklch(00% 0 0);
  }
}
