.disclaimer {
  position: absolute;
  right: 20%;
  top: 15%;
  rotate: -15deg;
  user-select: none;
}

@media (max-width: 1440px) {
  .disclaimer {
    right: 10%;
    top: 15%;
  }
}
@media (max-width: 1280px) {
  .disclaimer {
    display: none;
  }
}

.disclaimer::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 300%;
  transform: translate(-25%, -25%);

  inset: 0;
  z-index: -1;
  background-image:
    linear-gradient(to right, oklch(0.9 0.3 260 / 0.4) 1px, transparent 1px),
    linear-gradient(to bottom, oklch(0.9 0.3 260 / 0.4) 1px, transparent 1px);
  background-size: 32px 32px;
  mask-image:
    radial-gradient(ellipse 60% 60% at 50% 50%, #000 30%, transparent 70%),
    radial-gradient(ellipse 60% 60% at 50% 50%, #000 30%, transparent 70%);
}

.disclaimerContent {
  position: relative;
  z-index: 1;
}

.disclaimer a {
  position: absolute;
  bottom: 0;
  right: -16px;

  display: flex;
  align-items: center;
  gap: 0.2rem;

  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-decoration-style: dashed;
  text-decoration-color: oklch(0.9 0.3 360);
  color: var(--content-200);
}

.disclaimer a:hover {
  text-decoration-style: solid;
}

.disclaimerIcon {
  color: var(--content-200);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -30%) scale(-1, 1);
  z-index: 0;
}

.disclaimer h4 {
  font-size: 3rem;
  font-family: var(--font-pacifico);
  color: var(--content-200);
  z-index: 1;
}

.disclaimer h4 span:nth-child(1) {
  color: oklch(0.9 0.2 60);
}
.disclaimer h4 span:nth-child(2) {
  color: oklch(0.9 0.2 120);
}
.disclaimer h4 span:nth-child(3) {
  color: oklch(0.9 0.2 180);
}
.disclaimer h4 span:nth-child(4) {
  color: oklch(0.9 0.25 240);
}
.disclaimer h4 span:nth-child(5) {
  color: oklch(0.9 0.3 300);
}
.disclaimer h4 span:nth-child(6) {
  color: oklch(0.9 0.35 360);
}
