.header {
  z-index: 20;
  position: relative;
}

/* Logo */
.logoContainer {
  position: absolute;
  top: 4px;
  left: calc(50%);
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logoContainer img {
  width: 3.5rem;
}
.logoContainer .title {
  font-family: var(--font-pacifico);
  color: var(--content-400);
}

/* Banner */
.banner {
  background-color: var(--surface-200);
  height: 56px;
  border-bottom: 1px solid var(--border-100);
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.navContainer,
.actionsContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.backLink {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navContainer:hover {
  color: var(--acent-100);
}

.backLink:focus {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .logoContainer {
    display: none;
  }

  .actionsContainer {
    display: none;
  }

  .navContainer {
    flex: 1;
    justify-content: center;
  }
}
