.header {
  z-index: 20;
  position: relative;
}

/* Logo */
.logoContainer {
  position: absolute;
  top: 4px;
  left: calc(50%);
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.logoContainer img {
  width: 3.5rem;
}
.logoContainer h1 {
  font-family: var(--font-pacifico);
  color: var(--content-400);
}

/* Banner */
.banner {
  background-color: var(--surface-200);
  height: 56px;
  border-bottom: 1px solid var(--border-100);
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
}

.navContainer,
.actionsContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 1024px) {
  .logoContainer,
  .actionsContainer {
    display: none;
  }
}
