/* Dashboard Layout */

.container {
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
}

.checkbox {
  display: none;
}

/* Sidebar */

.sidebar {
  background: linear-gradient(
    45deg,
    var(--surface-500) 20%,
    var(--surface-300) 50%,
    var(--surface-200) 100%
  );
  border-right: 1px solid var(--border-100);
  width: 1rem;
  transition: width 0.3s ease;
  overflow: hidden;
}

.checkbox:checked + .sidebar {
  width: 320px;
}

/* Main content */
.main {
  background-color: var(--surface-100);
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

.checkbox:checked ~ .main {
  flex-grow: 1;
}

/* Opener */
.label {
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 4px;
  cursor: pointer;
  border-radius: var(--radius-s);
  color: var(--content-300);
  z-index: 20;
}

.label:hover {
  background-color: var(--surface-200);
}
.open {
  display: none;
}
.close {
  display: block;
}
.checkbox:checked ~ .main .open {
  display: block;
}
.checkbox:checked ~ .main .close {
  display: none;
}

/* Content area */

.content {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: var(--surface-100);
  padding: 4rem;
  position: relative;
}
