/* Dashboard Layout */

.container {
  width: 100%;
  height: calc(100vh - 56px);
  display: flex;
}

/* Sidebar */

.sidebar {
  background: linear-gradient(
    45deg,
    var(--surface-500) 20%,
    var(--surface-300) 50%,
    var(--surface-200) 100%
  );
  border-right: 1px solid var(--border-100);
  width: fit-content;
  min-width: 280px;
  padding: 1rem;
  padding-bottom: 48rem;
  overflow-y: auto;
}

/* Main content */
.main {
  background-color: var(--surface-100);
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

/* Content area */

.content {
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: var(--surface-100);
  padding: 4rem;
  position: relative;
}
