.section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.colorGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.groupHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.2rem;
}

.groupHeader input {
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  font-family: inherit;
  background: none;
  padding-right: 0.5rem;
  field-sizing: content;
}

.groupHeader .pencilIcon {
  cursor: pointer;
}

.groupHeader select {
  border: none;
  background: none;
  font-size: 0.8rem;
  font-family: inherit;
}

.groupHeader label {
  font-size: 0.8rem;
  font-weight: bold;
  font-family: inherit;
}

.variantControl {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.variantControl button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}

.variantControl button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.variantControl span {
  font-size: 0.8rem;
  font-weight: bold;
  font-family: inherit;
}

.contentCheckbox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.groupHeader input[type="checkbox"] {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--sw-border-300);
  border-radius: 0.3rem;
  background: none;
  cursor: pointer;
  position: relative;
}

.groupHeader input[type="checkbox"]:checked::before {
  content: "✓";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.75rem;
  color: var(--sw-content-400);
}
